 html{
    background-color: #000;
    box-sizing: border-box; 
}  

body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 485px;
    margin: 0 auto;
}

h1{
    font-size:3em;
    margin:auto;
    text-align: center;
    background-color: #fff;
    color:#007d7b;
    padding-bottom: 10px;
    text-transform: uppercase;
    max-width: 485px;
}

h2{
    font-size: 2em;
    color: #000;
    text-transform: uppercase;
}
p{
    font-size: 1.25em;
    color: #000;
}

figcaption, label, input, small{
    font-size: 1em;
}

nav a{
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    padding:10px;
}

nav{
    text-align: center;
    padding: 10px;
    position:relative;
    background-color: #000;
    text-transform: uppercase;
}

nav li{
    display: inline-block;
    list-style-type: none;
}

main{
    background-color: #fff;
    color:#000;
    max-width: 485px;
    margin: 0 auto;
}

[href="#top"]{
    color: #000;  
    bottom: 0px;
    right: 0px;
    position: fixed;
}

#about{
    padding: 1px;
}

#about h2, #gallery h2{
    text-align: center;
}
#about p, #gallery p {
    line-height:30px;
}
.photos{
    min-width:485px;
    height:300px; 
    margin: 0 auto; 
    padding:8px;
    display: grid;
    grid-template-columns:1fr;
}   

figure{
    width:420px;
    height:300px;
    text-align: center;
    margin: 0 auto;
    padding: 6px;
}
figure.long{
    height: 650px;
}

.white{
    color: #fff;
}
.black{
    color: #000;
}

.top-center{
    position: relative;
    top:-270px;
    text-align: center;
    text-transform: uppercase;
}

.long > .top-center {
    top: -620px;
}
.long > .bottom-center {
    bottom: 30px;
}

.bottom-center{
    position: relative;
    bottom: 50px;
    text-align: center;
    text-transform: uppercase;

}

#contact{
    clear:both;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 1px;
}

#contact h2, #contact p{
    color: #fff;
}


#contact>h2{
    text-transform: uppercase;
}

form h2{
    visibility: hidden;
    font-size: small;
}

form{
    display: inline-block;
    padding: 5px;
}

input{
   display: block;
   width:400px;  
   height: 2.3rem;
   color: #007d7b;
   font-size: 1em;
   text-transform: uppercase;
} 

label{
    display: block;
   margin: auto 0;
    width:400px;
    padding: 5px;
    text-align: left;
}

::placeholder{
    color: #007d7b;
    font-weight: bold;
}

[type="submit"]{
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    color: #fff;
    background-color: #007d7b;
    padding: 5px;
    width:300px;
}

#contact div{
    padding: 10px;
}

footer{
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding-top: 40px;
    text-align: center;

}

@media screen and (min-width:880px){

    body, h1, nav{
        max-width: 880px;
    }

    main{
        max-width: 880px;
    }

    figure{
        float: left;
        text-align: center;
        margin: 0 auto;
        padding:6px;
    }

    .photos{
        min-width:880px;
        text-align: center;
        justify-content: center;
        display: grid;
        grid-template-columns:1fr 1fr;
    } 

   input{
        width:700px;  
    } 

    label{
        width: 30px;
    }

    [type="submit"]{
        text-align: center;
        border-radius: 15px;
        color: #fff;
        background-color: #007d7b;
        padding: 5px;
        margin: 0 auto;
        width: 350px;
    }
} 

@media screen and (min-width:1300px){

    body, h1, nav{
        max-width: 1300px;
    }

    nav{
        justify-content: right;
        text-align: right;
        padding: 10px;
        position:relative;
        background-color: #000;
    }

    main{
        max-width: 1300px;
    }

    .photos{
        margin: 0 auto ;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    } 

    form{
        display: inline-block;
        padding: 3px;
    }  

    input{
        width:800px;
    } 

    [type="submit"]{
        text-align: center;
        border-radius: 15px;
        color: #fff;
        background-color: #007d7b;
        padding: 5px;
        width:700px;
        margin: 0 auto;
    }

}

 